.example-icon:not(.title) {
  margin: auto;
}

.navbar {
  background-color: #58858A;
}

.mat-sidenav {
  width: 100px;
}

//.box {
//  display: flex;
//  //justify-content: center;
//  text-align: center;
//  //margin: auto;
//}

.icon-grand-navbar {
  margin-left: 70px;
}
