.example-icon:not(.title) {
  margin: auto;
}

.navbar {
  background-color: darkslateblue;
  color: black;
}

.mat-sidenav {
  width: 100px;
  background-color: darkslateblue;
  color: black;

}

.icon-grand-navbar {
  margin-left: 70px;
}
