.mat-form-field {
  width: 100%;
  text-align: center;
}

.card-contact {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70rem;
  margin-bottom: 10rem;
  box-shadow: 10px 5px 5px black;
  background-color: #4D4444;
}

.header-card {
  justify-content: center;
}
