<div class="fond">
  <form (ngSubmit)="onSubmitForm()" [formGroup]="userForm">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input formControlName="_firstName" matInput placeholder="Prénom">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input formControlName="_lastName" matInput placeholder="Nom">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input formControlName="_age" matInput placeholder="Age">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field *ngIf="mailCheck" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="_email" matInput placeholder="mail@domain.com" type="email">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-checkbox (click)="disabledMail()" [checked]=mailCheck class="example-margin"
                    disabled="true"></mat-checkbox>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Commentaire</mat-label>
        <textarea formControlName="_commentaire" matInput></textarea>
      </mat-form-field>
    </p>
    <button [disabled]="userForm.invalid" color="primary" mat-raised-button type="submit">Enregistrer</button>
  </form>
</div>



