<div class="fond">
  <form (ngSubmit)="onSubmitForm()" [formGroup]="userForm">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input formControlName="firstName" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input [required] matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input [required] matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field *ngIf="mailCheck" appearance="fill">
        <mat-label>Email</mat-label>
        <input [required] matInput placeholder="aa@gmail.com" type="email">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-checkbox (click)="mailCheck = !mailCheck" [checked]=mailCheck class="example-margin"
                    disabled="true"></mat-checkbox>

    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Commentaire</mat-label>
        <textarea [required] matInput></textarea>
      </mat-form-field>
    </p>
  </form>
</div>

<button [disabled]="!formcontrol.form.valid" color="primary" mat-raised-button>Enregistrer</button>


